body
{
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(186, 186, 222), rgb(186, 222, 186), rgb(222, 222, 186), rgb(222, 186, 186));
  margin: 0;
  padding: 0 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#header
{
  text-align: center;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  margin: 10px 0 10px 0;
}
#task_input
{
  width: 80%;
  padding: 8px;
  border-radius: 10px;
  border: none;
}
#filter_dropdown
{
  margin: 10px 0;
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  border: none;
}
ul
{
  padding: 0;
}
.task-item
{
  background: white;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
}
.task-text
{
  flex: 1;
  margin-right: 10px;
  word-break: break-all;
}
.completed
{
  text-decoration: line-through;
  color: gray;
}
.btn-add,.task-buttons button
{
  margin-left: 5px;
  border-radius: 20%;
  padding: 6px 6px;
  font-size: 12px;
  border: none;
}
.btn-done
{
  background-color: green;
  color: white;
}
.btn-pin
{
  background-color: blue;
  color: white;
}
.btn-delete
{
  background-color: red;
  color: white;
}
.btn-edit
{
  background-color: orange;
  color: white;
}
.btn-save
{
  background-color: green;
  color: white;
}
.btn-add
{
  background-color: green;
  color: white;
  height:30px;
  width:13%;
}
.task-edit-input
{
  margin-right: 9%;
}